*{
    margin: 0;
    padding: 0;
}
.nav {
    max-width: 1800px;
    max-height: 50px;
    background-color: white;
    display: flex; /* enable flexbox */
    align-items: center; /* vertically center items */
    justify-content: space-between; /* logo left, links/search right */
    padding: 10px;
    font-size: x-large;
    border-radius: 10px;
}
.nav img {
    height: 50px; /* adjust logo size */
}
a{
    text-decoration: none;
    color: black;
    margin-right: 50px;
}
input{
    width: 300px;
    height: 30px;
    border-color: #FFCB73;
    border-style: solid;
    border-width: 2px;
}
button{
    margin-right: 10px;
    background-color: #FFCB73;
    color: black;
    height: 30px;
    border: none;
    width: 50px;
}
.heroimage {
    position: relative;
    width: 100%;
}

.heroimage img {
    width: 100%;
    display: block;
}

.herotext {
    position: absolute;
    top: 7%; 
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: large;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4); /* transparent background */
    padding: 10px 20px;
    border-radius: 5px;
}
.spacingdiv1{
    background-color: #f5f5f7;
    border : 2px black solid;
    border-radius: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    height: 40px;
    padding-top: 15;
}
.links a img{
    width: 45px;
    height:40px;
}
.bestsellingproducts{
    background-color:aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}
.bestsellingproducts h1{
    text-align: center;
    font-size: xx-large;
    color: black;
}
h1{
    text-align: center;
    
}
.iphone16lineup{
  width: 99%;
  height :650px;
  border:2px solid #f5f5f5;
  background-color: #f5f5f7;
  display: flex;
}
.iphone16promax{
width: 350;
height: 550px;
border: 1px solid black;
margin-top: 50px;
margin-left: 50px;
border-radius: 50px;
}
.iphone16promax img{
    width: 250px;
    height: 300px;
    padding-left: 50px;
}
.iphone16promaxheading{
    text-align: center;
    font-size: 40px;
}
.iphone16promaxpara1{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.iphone16promaxpara2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: blue;
}
.iphone16{
width: 350;
height: 550px;
border: 1px solid black;
margin-top: 50px;
margin-left: 90px;
border-radius: 50px;
}
.iphone16 img{
    width: 250px;
    height: 300px;
    padding-left: 50px;
}
.iphone16heading{
    text-align: center;
    font-size: 40px;
}
.iphone16para1{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.iphone16para2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: blue;
}
.iphone16e{
width: 350px;
height: 550px;
border: 1px solid black;
margin-top: 50px;
margin-left: 90px;
border-radius: 50px;
}
.iphone16e img{
    width: 250px;
    height: 300px;
    padding-left: 50px;
}
.iphone16eheading{
    text-align: center;
    font-size: 40px;
}
.iphone16epara1{
    text-align: center;
    font-weight: bold;
    font-size: large;
}
.iphone16epara2{
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    color: blue;
}
.spacingdiv2{
    width: 99.3%;
    height: 50px;
    background-color: aliceblue;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.macbooklineup{
    width: 99%;
  height :650px;
  border:2px solid #f5f5f5;
  background-color: #f5f5f7;
  display: flex;
}
.macbookair {
   width: 350px;
height: 550px;
border: 1px solid black;
margin-top: 50px;
margin-left: 200px;
border-radius: 50px;
}
.macbookair img{
    width: 300px;
    padding-top: 10%;
    padding-left: 8%;
}
.macbookairpara1{
    text-align: center;
    font-weight: bold;
}
.macbookairpara2{
    text-align: center;
}
.macbookairpara3{
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
}
.macbookpro{
    width: 350px;
    height: 550px;
    border: 1px solid black;
    margin-top: 50px;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 50px;
}
.macbookpro img{
    width: 300px;
    padding-top: 10%;
    padding-left: 8%;
}
.macbookpropara1{
    text-align: center;
    font-weight: bold;
}
.macbookpropara2{
    text-align: center;
}
.macbookpropara3{
    text-align: center;
    font-size: 25px;
    color: blue;
    font-weight: bold;
}
.spacingdiv3{
    width: 99.3%;
    height: 50px;
    background-color: aliceblue;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
}
.ipadlineup{
      width: 99%;
  height :750px;
  border:2px solid #f5f5f5;
  background-color: #f5f5f7;
  display: flex;
}